[submodule "oz_python"]
	path = oz_python
	url = https://github.com/socical-dev/oz_python.git
[submodule "oz_database"]
	path = oz_database
	url = https://github.com/socical-dev/oz_database.git
[submodule "oz_linux"]
	path = oz_linux
	url = https://github.com/socical-dev/oz_linux.git
[submodule "oz_html_css_js"]
	path = oz_html_css_js
	url = https://github.com/socical-dev/oz_html_css_js.git
[submodule "oz_flask"]
	path = oz_flask
	url = https://github.com/socical-dev/oz_flask.git
